
<h3 class="text-warning">Update Task</h3>
<hr>
<h6 class="alert alert-danger" *ngIf="!IsformValid">All the below fields are mandatory..!</h6>
  <h6 class="alert alert-success" *ngIf="IsUpdatedSuccessFully">Task updated successfully...</h6>
  <h6 class="alert alert-danger" *ngIf="IsStartDateGreater">Start date should not be greaterthan End date..!</h6>
 
<table class="table table-striped">
    <tbody>
       <tr>
          <td colspan="1">
             <form    class="well form-horizontal">
                <fieldset>
                     <div class="form-group">
                           <label class="col-md-4 control-label">Project Id:</label>
                           <div class="col-md-8 inputGroupContainer">
                                 <div class="input-group">                         
                        <input id="ProjectId" [(ngModel)]="ProjectId"   name="ProjectId"  class="form-control" required="true"  disabled type="number" > <button style="float:right; padding:3px;" class="btn btn-secondary"  type="button" (click)="openProjectModal(tmpProject)" >search</button> </div>                                     
                        </div>
                       </div>  
                     <div class="form-group">
                           <label class="col-md-4 control-label">Task Id:</label>
                           <div class="col-md-8 inputGroupContainer">
                              
                              <div class="input-group"><input id="TaskId" [(ngModel)]="TaskId"  name="TaskId" readonly class="form-control"  type="text"></div>
                           </div>
                        </div>
                   <div class="form-group">
                      <label class="col-md-4 control-label">Task:</label>
                      <div class="col-md-8 inputGroupContainer">
                         
                         <div class="input-group"><input id="TaskDesc" [(ngModel)]="TaskDesc"  name="TaskDesc" placeholder="Task Details" class="form-control" required="true" type="text"></div>
                      </div>
                   </div>
                   <div class="form-group">
                      <label class="col-md-4 control-label">Priority</label>
                      <div class="col-md-8 inputGroupContainer">
                         <div class="input-group">
                            <label for="rangeval">{{ rangeval.value }}</label>
                            <input id="Priority" #rangeval [(ngModel)]="Priority"   name="Priority"  class="form-control-range" required="true"  type="range" min="0" max="30" ></div>                    
                      </div>
                   </div>
                   <div class="form-group">
                        <label class="col-md-4 control-label">Parent Task Id:</label>
                        <div class="col-md-8 inputGroupContainer">
                           <div class="input-group"><input id="ParentTask"  [(ngModel)]="ParentId"  #ParentTask name="ParentTask" placeholder="Parent Task Id" readonly class="form-control" required="true" value="" type="number">
                             <button  style="float:right; padding:3px;" class="btn btn-secondary"  type="button" (click)="openParenttaskModal(tmpParentTask)" >search</button>   </div>
                        </div>
                     </div>
                   <div class="form-group">
                      <label class="col-md-4 control-label">Start Date:</label>
                      <div class="col-md-8 inputGroupContainer">
                         <div class="input-group">
                           <input id="StartDate" name="StartDate" [ngModel]="StartDate | date:'yyyy-MM-dd'" (ngModelChange)="StartDate=$event" class="form-control" required="true"  type="date"></div>
                      </div>
                   </div>
                   <div class="form-group">
                      <label class="col-md-4 control-label">End Date:</label>
                      <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><input id="EndDate" name="EndDate" [ngModel]="EndDate | date:'yyyy-MM-dd'" (ngModelChange)="EndDate=$event"   class="form-control" required="true" type="date"></div>
                      </div>
                   </div>
                   <div class="form-group">
                        <label class="col-md-4 control-label">UserId:</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">                      
                     <input id="UserId" [(ngModel)]="UserId"   name="UserId"  class="form-control" required="true" readonly  disabled type="number" > <button style="float:right; padding:3px;" class="btn btn-secondary"  type="button" (click)="openUserModal(tmpUser)" >search</button>    </div>                                     
                     </div>
                    </div>    
                                   
              <div style="padding:20px"> <button class="btn btn-primary" (click)="UpdateTask()" type="submit">Update Task</button> &nbsp; &nbsp; <a routerLink="/view-task"><button class="btn btn-info"  type="button">Cancel</button></a> </div>
                </fieldset>
             </form>
          </td>
         
       </tr>
    </tbody>
 </table>
 <ng-template #tmpProject >
      <div class="modal-header">
<h4 class="modal-title pull-left text-warning">Project list</h4>
<button class="btn btn-secondary close pull-right" type="button" (click)="ProjectmodalRef.hide()" aria-label="close"></button>
 <span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body">
         <h6 class="text text-success" *ngIf="IsProjectSelected">Project is selected successfully...</h6>
         <div class="row">
             <div class="col-md-6">     
                <div class="input-group"><input id="txtSearchProject" name="txtSearchProject" #txtSearchProject (keyup)="SearchProjectFilter(txtSearchProject.value)"  placeholder="Search..." class="form-control"  value="" type="text"></div>
            </div>
            </div>
            <br>
            <table class="table" >
                  <thead>
                      <tr>
                        <th scope="col">ProjectId</th>
                        <th scope="col">ProjectDesc</th>        
                        <th scope="col">Priority</th>                        
                        <th scope="col">ManagerUserId</th>
                        <th></th>                       
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor ="let item of listProjects ; trackBy: trackProject" >         
                          <td>{{item.ProjectId}}</td>
                          <td>{{item.ProjectDesc}}</td>
                          <td>{{item.Priority}}</td>                                   
                          <td>{{item.ManagerUserId }}</td>
                          <td style="padding-left:0;padding-right:0; margin: 0%"><button style="padding:0px;" class="btn btn-success" (click)="SelectProject(item.ProjectId)"  >Select</button></td>                                                   
                        </tr>
                      </tbody>
                    </table>

      </div>
     </ng-template>

     <ng-template #tmpParentTask >
         <div class="modal-header">
   <h4 class="modal-title pull-left text-warning">Parent Task list</h4>
   <button class="btn btn-secondary close pull-right" type="button" (click)="ParentTaskmodalRef.hide()" aria-label="close"></button>
    <span aria-hidden="true">&times;</span>
         </div>
         <div class="modal-body">
            <h6 class="text text-success" *ngIf="IsParentTaskSelected">Parent task is selected successfully...</h6>
            <div class="row">
                <div class="col-md-6">     
                   <div class="input-group"><input id="txtSearchParentTask" name="txtSearchParentTask" #txtSearchParentTask (keyup)="SearchParentTaskFilter(txtSearchParentTask.value)"  placeholder="Search..." class="form-control"  value="" type="text"></div>
               </div>
               </div>
               <br>
               <table class="table" >
                     <thead>
                         <tr>
                           <th scope="col">Parent Id</th>
                           <th scope="col">Parent Task</th>        
                           
                           <th></th>                       
                         </tr>
                       </thead>
                       <tbody>
                           <tr *ngFor ="let item of listParentTask ; trackBy: trackParentTask" >         
                             <td>{{item.ParentId}}</td>
                             <td>{{item.ParentTask1}}</td>            
                             <td style="padding-left:0;padding-right:0; margin: 0%"><button style="padding:0px;" class="btn btn-success" (click)="SelectParentTask(item.ParentId)"  >Select</button></td>                                                   
                           </tr>
                         </tbody>
                       </table>
   
         </div>
        </ng-template>
        <ng-template #tmpUser>
            <div class="modal-header">
      <h4 class="modal-title pull-left text-warning">User list</h4>
      <button class="btn btn-secondary close pull-right" type="button" (click)="UsermodalRef.hide()" aria-label="close"></button>
       <span aria-hidden="true">&times;</span>
            </div>
            <div class="modal-body">
               <h6 class="text text-success" *ngIf="IsUserSelected">User userId is selected successfully...</h6>
               <div class="row">
                   <div class="col-md-6">     
                      <div class="input-group"><input id="txtSearchUser" name="txtSearchUser" #txtSearchUser (keyup)="SearchUserFilter(txtSearchUser.value)"  placeholder="Search..." class="form-control"  value="" type="text"></div>
                  </div>
                  </div>
                  <br>
               <table class="table" >
                   <thead>
                       <tr>
                         <th scope="col">User Id</th>
                         <th scope="col">First Name</th>
                         <th scope="col">Last Name</th>
                         <th scope="col">Employee Id</th> 
                         <th></th>
                   
                       </tr>
                     </thead>
                     <tbody>
                         <tr *ngFor ="let item of listUser ; trackBy: trackUser" >         
                           <td>{{item.UserId}}</td>
                           <td>{{item.FirstName}}</td>
                           <td>{{item.LastName}}</td>
                           <td>{{item.EmpId}}</td>                     
                           <td style="padding-left:0;padding-right:0; margin: 0%"><button style="padding:0px;" class="btn btn-success" (click)="SelectUser(item.UserId)"  >Select</button></td>                                                   
                         </tr>
                       </tbody>
                     </table>
     
            </div>
           </ng-template>